In [100]:
import pandas as pd
from matrix_generator import csv_path

In [101]:
matrices = pd.read_csv(csv_path)

matrices.head()

   a[0]  a[1]  a[2]  a[3]
0     9    -2     2    -3
1    -9    -3     2    -4
2    -5    -9     2     1
3    -7    -7    -1    -5
4     7    -7    -9     4

In [102]:
results_file = pd.read_csv("../out/results.txt", sep=";")

results_file

                                           eigen_values  results
0             ['8.65685424949238', '-2.65685424949238']        1
1                                      ['-7.0', '-6.0']        0
2     ['(-1.9999999999999998+3.000000000000001j)', '...        0
3            ['-8.82842712474619', '-3.17157287525381']        0
4          ['13.577747210701755', '-2.577747210701756']        1
...                                                 ...      ...
996   ['(-3.500000000000001+4.21307488658818j)', '(-...        0
997   ['(6+5.65685424949238j)', '(6-5.65685424949238...        1
998   ['(-6+7.937253933193773j)', '(-6-7.93725393319...        0
999   ['(-6.5+1.9364916731037083j)', '(-6.5-1.936491...        0
1000       ['0.8729833462074161', '-6.872983346207417']        1

[1001 rows x 2 columns]

In [103]:
matrices["eigen_values"] = results_file.eigen_values
matrices["results"] = results_file.results

matrices

,a[0],a[1],a[2],a[3],eigen_values,results
0,9,-2,2,-3,"['8.65685424949238', '-2.65685424949238']",1
1,-9,-3,2,-4,"['-7.0', '-6.0']",0
2,-5,-9,2,1,"['(-1.9999999999999998+3.000000000000001j)', '...",0
3,-7,-7,-1,-5,"['-8.82842712474619', '-3.17157287525381']",0
4,7,-7,-9,4,"['13.577747210701755', '-2.577747210701756']",1
...,...,...,...,...,...,...
996,2,-6,8,-9,"['(-3.500000000000001+4.21307488658818j)', '(-...",0
997,8,-9,4,4,"['(6+5.65685424949238j)', '(6-5.65685424949238...",1
998,-3,-9,8,-9,"['(-6+7.937253933193773j)', '(-6-7.93725393319...",0
999,-6,-1,4,-7,"['(-6.5+1.9364916731037083j)', '(-6.5-1.936491...",0
1000,3,-3,7,-9,"['0.8729833462074161', '-6.872983346207417']",1

In [104]:
output_file = pd.read_csv("../out/new_demo.txt", sep=";")

output_file.head()

                                            solution  blank
0  ([ 1.00000000e+00, -1.20000000e+01,  9.9977247...      0
1  ([ 1.00000000e+00, -1.40000000e+01,  9.9971614...      0
2  ([ 1.00000000e+00, -1.40000000e+01,  9.9973320...      0
3                                         ([0], [0])      0
4  ([   0,    2,    4,    6,    8,   10,   12,   ...      0

In [105]:
output_file.count(1)

0      2
1      2
2      2
3      2
4      2
      ..
921    2
922    2
923    2
924    2
925    2
Length: 926, dtype: int64

In [106]:
matrices["numeric_output"] = output_file.solution

In [107]:
matrices[:926]

,a[0],a[1],a[2],a[3],eigen_values,results,numeric_output
0,9,-2,2,-3,"['8.65685424949238', '-2.65685424949238']",1,"([ 1.00000000e+00, -1.20000000e+01, 9.9977247..."
1,-9,-3,2,-4,"['-7.0', '-6.0']",0,"([ 1.00000000e+00, -1.40000000e+01, 9.9971614..."
2,-5,-9,2,1,"['(-1.9999999999999998+3.000000000000001j)', '...",0,"([ 1.00000000e+00, -1.40000000e+01, 9.9973320..."
3,-7,-7,-1,-5,"['-8.82842712474619', '-3.17157287525381']",0,"([0], [0])"
4,7,-7,-9,4,"['13.577747210701755', '-2.577747210701756']",1,"([ 0, 2, 4, 6, 8, 10, 12, ..."
...,...,...,...,...,...,...,...
921,7,-3,-7,-2,"['8.922616289332565', '-3.9226162893325647']",1,"([ 1.00000000e+00, -1.70000000e+01, 9.9971169..."
922,-7,7,8,7,"['-10.246950765959596', '10.2469507659596']",1,"([1.00000000e+00, 6.00000000e+00, 1.00015154e+..."
923,-8,-9,8,-6,"['(-7+8.426149773176357j)', '(-7-8.42614977317...",0,"([0], [0])"
924,-2,8,5,-8,"['2.0', '-12.0']",1,"([ 0, 2, 4, 6, 8, 10, 12, ..."
925,8,-5,3,8,"['(8+3.872983346207417j)', '(8-3.8729833462074...",1,"([0], [0])"

In [108]:
matrices.to_csv("../out/demo_labelled_dataset.csv", index=0)